
<div class="vdh-cve">
	<div class="vdh-container vdh-cve-header">
		<div>
			<!-- 
			<select ng-options="c as v.title for (c, v) in configs" ng-model="currentConfigId.value"></select>
			 -->
			<select ng-options="c.id as c.title for c in configsArray()" ng-model="currentConfigId.value"></select>
			<input type="text" ng-model="config.title" ng-readonly="config.readonly"/>
		</div>
		<div>
			<div class="vdh-cve-links">
				<a ng-click="newConfig()" vdh-l10n="convconf-new"></a> |
				<a ng-click="duplicateConfig()" vdh-l10n="convconf-duplicate"></a> |
				<a ng-click="removeConfig()" vdh-l10n="convconf-remove" ng-class="{'vdh-disabled':config.readonly}"></a> |
				<a ng-click="values.resetRequested=true" vdh-l10n="convconf-reset" ng-class="resetClasses()"></a>
			</div>
		</div>
	</div>
	<div ng-show="values.resetRequested" class="vdh-cve-reset-confirm"> 
		<div vdh-l10n="convconf-reset-confirm"></div>
		<div>
			<a ng-click="values.resetRequested=false" vdh-l10n="cancel"></a> | 
			<a ng-click="values.resetRequested=false;resetConfigs()" vdh-l10n="convconf-reset"></a> 
		</div>
	</div>
	<div ng-show="config.readonly" vdh-l10n="convconf-readonly" class="vdh-cve-readonly-warn"></div>
	<ul class="nav nav-tabs">
		<li role="presentation" 
			ng-class="{active:values.tab=='general'}"
			ng-click="values.tab='general'">
			<a vdh-l10n="general" data-toggle="tab"></a>
		</li>
		<li role="presentation" 
			ng-class="{active:values.tab=='advanced'}"
			ng-click="values.tab='advanced'">
			<a vdh-l10n="advanced" data-toggle="tab"></a>
		</li>
	</ul>
	<div ng-class="{'vdh-cve-disabled': config.readonly}" class="vdh-cve-editor">
		<div ng-show="config.readonly" class="vdh-cve-mask"></div>
		<div ng-show="values.tab=='general'" class="tab-pane">
			<div class="vdh-cve-row">
				<div class="vdh-cve-label" vdh-l10n="convconf-ext"></div>
				<div vdh-opt-text-input ng-model="config.ext"></div>
			</div>
			<div class="vdh-cve-row" vdh-param="f">
				<div class="vdh-cve-label" vdh-l10n="convconf-container"></div>
				<div vdh-opt-select='k as f.name for (k, f) in formats | keepObjectBy:"muxing":true:"name"' 
					ng-model="config.params['f']"></div>
				<div class="vdh-cve-help">{{config.params['f'] && formats[config.params.f].description}}</div>
			</div>
			<div class="vdh-cve-row" vdh-param="c:v">
				<div class="vdh-cve-label" vdh-l10n="convconf-vcodec"></div>
				<div vdh-opt-select='k as f.name for (k, f) in codecs | keepObjectBy:"encoding":true:"name"  | keepObjectBy:"type":"V":"name"' 
					ng-model="config.params['c:v']"></div>
				<div class="vdh-cve-help">{{codecs[config.params['c:v']].description}}</div>
			</div>
			<div class="vdh-cve-row" vdh-param="c:a">
				<div class="vdh-cve-label" vdh-l10n="convconf-acodec"></div>
				<div vdh-opt-select='k as f.name for (k, f) in codecs | keepObjectBy:"encoding":true:"name"  | keepObjectBy:"type":"A":"name"' 
					ng-model="config.params['c:a']"></div>
				<div class="vdh-cve-help">{{codecs[config.params['c:a']].description}}</div>
			</div>
			<div class="vdh-cve-row">
				<div class="vdh-cve-label" vdh-l10n="convconf-audioonly"></div>
				<input type="checkbox" ng-model="config.audioonly"> 
			</div>
			<div class="vdh-cve-row" vdh-param="b:v">
				<div class="vdh-cve-label" vdh-l10n="convconf-videobitrate"></div>
				<div vdh-opt-text-input ng-model="config.params['b:v']"></div>
			</div>
			<div class="vdh-cve-row" vdh-param="target">
				<div class="vdh-cve-label" vdh-l10n="convconf-target"></div>
				<div vdh-opt-select='t as t for t in targets' 
					ng-model="config.params['target']"></div>
				<div ng-show="config.params['target']" class="vdh-cve-help" vdh-l10n="convconf-target-help"></div>
			</div>
			<div class="vdh-cve-row" vdh-param="r">
				<div class="vdh-cve-label" vdh-l10n="convconf-rate"></div>
				<div vdh-opt-text-input ng-model="config.params['r']"></div>
			</div>
		</div>
		<div ng-show="values.tab=='advanced'" class="tab-pane">
			<div class="vdh-cve-row">
				<div class="vdh-cve-label" vdh-l10n="convconf-2passes"></div>
				<input type="checkbox" ng-model="config.twopasses"> 
			</div>
			<div class="vdh-cve-row" vdh-param="s">
				<div class="vdh-cve-label" vdh-l10n="convconf-size"></div>
				<div vdh-opt-text-input ng-model="config.params['s']"></div>
				<div ng-show="config.params['s']" class="vdh-cve-help" vdh-l10n="convconf-size-help"></div>
			</div>
			<div class="vdh-cve-row" vdh-param="ar">
				<div class="vdh-cve-label" vdh-l10n="convconf-audiofreq"></div>
				<div vdh-opt-text-input ng-model="config.params['ar']"></div>
			</div>
			<div class="vdh-cve-row" vdh-param="b:a">
				<div class="vdh-cve-label" vdh-l10n="convconf-audiobitrate"></div>
				<div vdh-opt-text-input ng-model="config.params['b:a']"></div>
			</div>
			<div class="vdh-cve-row" vdh-param="ac">
				<div class="vdh-cve-label" vdh-l10n="convconf-ac"></div>
				<div vdh-opt-select='t.ac as t.label for t in audioChannels' 
					ng-model="config.params['ac']"></div>
			</div>
			<div class="vdh-cve-row" vdh-param="aspect">
				<div class="vdh-cve-label" vdh-l10n="convconf-aspect"></div>
				<div vdh-opt-select='t as t for t in ["4:3","16:9"]' 
					ng-model="config.params['aspect']"></div>
			</div>
			<div class="vdh-cve-row" vdh-param="preset">
				<div class="vdh-cve-label" vdh-l10n="convconf-preset"></div>
				<div vdh-opt-select='t as t for t in ["ultrafast","superfast","veryfast","faster","fast","medium","slow","slower","veryslow","placebo"]' 
					ng-model="config.params['preset']"></div>
			</div>
			<div class="vdh-cve-row" vdh-param="tune">
				<div class="vdh-cve-label" vdh-l10n="convconf-tune"></div>
				<div vdh-opt-select='t as t for t in ["film","animation","grain","stillimage","psnr","ssim","fastdecode","zerolatency"]' 
					ng-model="config.params['tune']"></div>
			</div>
			<div class="vdh-cve-row" vdh-param="profile:v">
				<div class="vdh-cve-label" vdh-l10n="convconf-profilev"></div>
				<div vdh-opt-select='t as t for t in ["baseline","main","high"]' 
					ng-model="config.params['profile:v']"></div>
			</div>
			<div class="vdh-cve-row" vdh-param="level">
				<div class="vdh-cve-label" vdh-l10n="convconf-level"></div>
				<div vdh-opt-text-input ng-model="config.params['level']"></div>
			</div>
			<div class="vdh-cve-row">
				<div class="vdh-cve-label" vdh-l10n="convconf-extra"></div>
				<div vdh-opt-text-input ng-model="config.extra"></div>
			</div>
		</div>
	</div>

</div>
