<!-- @+firefox -->
<html ng-app="VDH">
<!-- @- -->
<!-- @+chrome
<html ng-app="VDH" ng-csp>
@- -->
	<head>
	    <meta charset="UTF-8">
		<link href="lib/bootstrap/bootstrap.min.css" type="text/css" rel="stylesheet">
		<link href="commonPanel.css" type="text/css" rel="stylesheet">
		<link href="mainPanel.css" type="text/css" rel="stylesheet">
		<script type="text/ng-template" id="vdh-hit">
			<div  
				ng-click="action(defaultAction(hit),hit,$event)"
				vdh-track-mouse="hit"
				class="hit" ng-class="hitClass(hit)">
				<div ng-show="hit.status=='orphan'" class="hit-progress hit-progress-orphan" vdh-orphan-timer="hit"></div>
				<div ng-show="hit.status=='running'" class="hit-progress" style="width: {{hit.progress}}%;"></div>
				<div class="vdh-container">
					<div>
						<div ng-show="hit.thumbnail" class="hit-thumbnail">
							<img vdh-src="hit.thumbnail"/>
						</div>
						<div class="vdh-fullwidth hit-descr">
							<div class="hit-title">							
								<div class="hit-default-action">
									<img vdh-src="actions[defaultAction(hit)].icon"/>
								</div>
								<div ng-class="titleClass(hit)">{{hit.title}}</div>
							</div>
							<div class="hit-summary">
								<img class="hit-descr-button" 
									ng-show="prefs['hits-goto-tab'] && hit.status=='inactive'" 
									src="images/icon-gototab-64.png" 
									title="{{_('hit.go-to-tab')}}" 
									ng-click="goToTab(hit); $event.stopPropagation();" />
								<img ng-show="hit._signature && hit._signature.length>0" src="images/icon-lock-64.png"/>
								<span ng-show="hit.operation" class="hit-operation">{{_(hit.operation)}}</span>
								{{description(hit)}}
							</div>
						</div>
						<div class="hit-adp" ng-show="prefs['ui.adp.tag'] && (hit.status=='active' || hit.status=='inactive') && hit.adp">
							<div>ADP</div>
						</div>
						<div class="hit-actions">
							<div ng-show="hit.actions.length>1"
								vdh-panel-button="{image:'images/icon-more-64.png'}"
								class="hit-plus-but"
								ng-click="moreActions(hit); $event.stopPropagation();">
							</div>
						</div>
					</div>
				</div>
			</div>
		</script>
		<!-- @+chrome
		<style type="text/css">
			html {
				width: 500px;
			}
		</style>
		@- -->
    </head>
	<body ng-controller="VDHMainCtrl" ng-cloak ng-show="checkSize()" ng-class="{'compact':prefs['display']=='compact'}">
		<div id="content">
			<div class="vdh-panel-title">
				<div vdh-l10n="video-downloadhelper" style="padding-left: 70px;"></div>
			</div>
			
			<div class="vdh-main-shortcuts" ng-show="prefs['main-top']=='icons'">
					<div vdh-panel-button="{image:'images/icon-about-64.png'}" title="{{_('about')}}"
						ng-click="about()"></div>
					<div vdh-panel-button="{image:'images/icon-settings-64.png'}"  title="{{_('settings')}}"
						ng-click="settings()"></div>
					<div vdh-panel-button="{image:'images/icon-sites-list-64.png'}"  title="{{_('supported-sites')}}"
						ng-click="sites()"></div>
					<!-- @+firefox -->
					&nbsp;
					<div vdh-panel-button="{image:'images/icon-photo-64.png'}"  title="{{_('analyze-page')}}"
						ng-click="gallery()"></div>
					<div vdh-panel-button="{image:'images/icon-action-convert-b-64.png'}"  title="{{_('convert-local-files')}}"
						ng-click="convert()"></div>
					&nbsp;
					<div ng-show="prefs['chunks.enabled'] && prefs['hls.enabled'] && prefs['tpsr.enabled'] && prefs['tpsr.state']=='stopped'" title="{{_('tpsr.start-par-long')}}"
						vdh-panel-button="{image:'images/icon-par-64.png'}" 
						ng-click="tpsr('start')"></div>
					<div ng-show="prefs['tpsr.state']=='started'" title="{{_('tpsr.stop-par-long')}}"
						vdh-panel-button="{image:'images/icon-par-stop-64.png'}" 
						ng-click="tpsr('stop')"></div>
					<div ng-show="prefs['scrap.enabled'] && prefs['scrap.state']=='stopped'" title="{{_('scrap.start-long')}}"
						vdh-panel-button="{image:'images/icon-action-record-64.png'}" 
						ng-click="scrap('start')"></div>
					<div ng-show="prefs['scrap.state']=='started'" title="{{_('scrap.stop-long')}}"
						vdh-panel-button="{image:'images/icon-action-stoprecord-64.png'}" 
						ng-click="scrap('stop')"></div>
					<!-- @- -->
					&nbsp;
					<div vdh-panel-button="{image:'images/icon-action-delete-64.png'}"  title="{{_('clear-hits')}}"
						ng-click="clear('all')" ng-show="canClear()"></div>
				<div class="vdh-dropdown">
					<div>
	 					<select class="vdh-settings-select" ng-model="operation.value">
	 						<option value="operations" vdh-l10n="operations"></option>
	 						<option value="about" vdh-l10n="about"></option>
	 						<option value="settings" vdh-l10n="settings"></option>
	 						<option value="sites" vdh-l10n="supported-sites"></option>
							<!-- @+firefox -->	 						
	 						<option value="gallery" vdh-l10n="analyze-page"></option>
	 						<option value="convert" vdh-l10n="convert-local-files"></option>
	 						<option value="start-par" ng-show="prefs['chunks.enabled'] && prefs['hls.enabled'] && prefs['tpsr.enabled'] && prefs['tpsr.state']=='stopped'" vdh-l10n="tpsr.start-par-long"></option>
	 						<option value="stop-par" ng-show="prefs['tpsr.state']=='started'" vdh-l10n="tpsr.stop-par-long"></option>
	 						<option value="start-scrap" ng-show="prefs['scrap.enabled'] && prefs['scrap.state']=='stopped'" vdh-l10n="scrap.start-long"></option>
	 						<option value="stop-scrap" ng-show="prefs['scrap.state']=='started'" vdh-l10n="scrap.stop-long"></option>
							<!-- @- -->
	 						<option value="clearhits" ng-show="canClear()" vdh-l10n="clear-hits"></option>
	 					</select>
 					</div>
				</div>
			</div>
			

			
			<div class="vdh-commands" ng-show="prefs['main-top']=='links'">
					<div><a vdh-l10n="about" ng-click="about()"></a></div>
					<div><a vdh-l10n="settings" ng-click="settings()"></a></div>
					<div><a vdh-l10n="convert-local-files" ng-click="convert()"></a></div>
					<div><a vdh-l10n="supported-sites" ng-click="sites()"></a></div>
					<div><a vdh-l10n="analyze-page" ng-click="gallery()"></a></div>
					<div ng-show="canClear()"><a vdh-l10n="clear-hits" ng-click="clear('all')"></a></div>
					<div ng-show="prefs['tpsr.enabled'] && prefs['tpsr.state']=='stopped'"><a vdh-l10n="tpsr.start-par" ng-click="tpsr('start')"></a></div>
					<div ng-show="prefs['tpsr.state']=='started'"><a vdh-l10n="tpsr.stop-par" ng-click="tpsr('stop')"></a></div>
					<div ng-show="prefs['scrap.enabled'] && prefs['scrap.state']=='stopped'""><a vdh-l10n="scrap.start" ng-click="scrap('start')"></a></div>
					<div ng-show="prefs['scrap.state']=='started'"><a vdh-l10n="scrap.stop" ng-click="scrap('stop')"></a></div>
			</div>
			
			<div ng-show="counters.all==0" vdh-l10n="no-media-to-process" class="nothing-to-do"></div>
			
			<div ng-show="counters.all>0 && counter.active && counters.all!=counters.active" 
				vdh-l10n="in-current-tab" class="hits-subtitle"></div>
			<div vdh-hit ng-repeat="(id, hit) in hits | keepObjectBy:'status':'active' | orderHits"></div>
			
			<div ng-show="counters.inactive>0" class="hits-subtitle">
				<div vdh-opener ng-model="prefs['show-hits-inactive']"></div> 
				<div vdh-panel-button="{image:'images/icon-action-delete-64.png'}" ng-click="clear('inactive')"></div>
					{{_('in-other-tab')}} {{!prefs['show-hits-inactive']?'('+counters.inactive+')':''}}</div>
			<div vdh-hit ng-repeat="(id, hit) in hits | keepObjectBy:'status':'inactive'" ng-show="prefs['show-hits-inactive']"></div>
			
			<div ng-show="counters.orphan>0" class="hits-subtitle">
				<div vdh-opener ng-model="prefs['show-hits-orphan']"></div> 
				<div vdh-panel-button="{image:'images/icon-action-delete-64.png'}" ng-click="clear('orphans')"></div>
					{{_('orphan')}} {{!prefs['show-hits-orphan']?'('+counters.orphan+')':''}}</div>
			<div vdh-hit ng-repeat="(id, hit) in hits | keepObjectBy:'status':'orphan'" ng-show="prefs['show-hits-orphan']"></div>
			
			<div ng-show="counters.pinned>0" class="hits-subtitle">
				<div vdh-opener ng-model="prefs['show-hits-pinned']"></div> 
				<div vdh-panel-button="{image:'images/icon-action-delete-64.png'}" ng-click="clear('pinned')"></div>
					{{_('pinned')}} {{!prefs['show-hits-pinned']?'('+counters.pinned+')':''}}</div>
			<div vdh-hit ng-repeat="(id, hit) in hits | keepObjectBy:'status':'pinned'" ng-show="prefs['show-hits-pinned']"></div>
			
			<div ng-show="counters.running>0" class="hits-subtitle">
				<div vdh-opener ng-model="prefs['show-hits-running']"></div> {{_('running')}} {{!prefs['show-hits-running']?'('+counters.running+')':''}}</div>
			<div vdh-hit ng-repeat="(id, hit) in hits | keepObjectBy:'status':'running'" ng-show="prefs['show-hits-running']"></div>

			<div ng-show="logs.length>0" class="hits-subtitle" ng-class="{'vdh-error':errorLogs.length>0}">
				<div vdh-opener ng-model="prefs['show-logs']"></div> 
				<div vdh-panel-button="{image:'images/icon-action-delete-64.png'}" ng-click="clearLogs()"></div>
				<span ng-show="errorLogs.length>0">
					{{_('errors')}} {{!prefs['show-logs']?'('+errorLogs.length+')':''}}
				</span>
				<span ng-show="logLogs.length>0">
					{{_('logs')}} {{!prefs['show-logs']?'('+logLogs.length+')':''}}
				</span>
			</div>
			<div ng-repeat="log in logs" ng-show="prefs['show-logs']" class="vdh-log" 
				ng-class="{'vdh-log-error':log.type=='error'}">
				{{log.text}}
				<a ng-show="log.details" vdh-l10n="details-parenthesis" ng-click="logDetails(log)"></a>
			</div>
		</div>
	</body>
</html>
