#content {
	background-color: White;
}

.vdh-scrap-convert {
	overflow: hidden;
}

.vdh-scrap-convert a {
	float: right;
}

.vdh-stats-rows {
	padding: 6px 0 0 12px;
}

.vdh-stats-title {
	margin-top: 20px;
	font-weight: bold;
}